
{% extends "base.html" %}

{% load static %}


{% block title %}

Hello I'm the block Title

{% endblock title %}

	
{% block code %}

<div class="jumbotron bg-dark	">
  <h1 class="text-primary">Add Your Favourite Restaraunt!</h1> 

  <p class="text-white">Healthy? Unhealthy? Foodie? All you need at FoodHub.</p>
  <hr class="my-4">
  <p class="lead">
    <a href= "{% url 'restaraunt_create' %} "  class="btn btn-primary" role="button">Add a Restaraunt</a>
  </p>
</div>

<div class="row">
	{% for item in restaraunts %}

		<div class="col-md-4">
			<div class="card">

				{% if item.logo %}
					<img class="card-img-top" src="{{item.logo.url}}" alt="Card image cap">
				
				{% endif %} 

			  <div class="card-body">
			    <h2 class="card-title">{{item.name}}</h2>

			    <p class="card-text">{{item.description}}</p>

			    <a href =" {% url 'restaraunt_update' restaraunt_id=item.id %} " class="btn btn-outline-primary">Update</a>
			    <a href = " {% url 'restaraunt_delete' restaraunt_id=item.id %} " class="btn btn-outline-danger">Delete</a>
			 
			    <button onclick="clickme({{item.id}})"> 
			    	<span id="star-number-{{item.id}}">{{item.favouriterestaraunt_set.count}}</span>
			    	 <i id="star-color-{{item.id}}" class="fas fa-star {% if item in my_favourites %}text-warning{% endif %}"></i>

			    	</button>


			  </div>
			</div>
		</div>


	{% endfor %}


</div>

<script>
	function clickme(id){
		$.ajax({
			type: "GET",
			url:'/favourite_restaraunt/' +id,
			error:function(){
				console.log("you can't do it")
			},

			success:function(data){
				console.log('/favourite_restaraunt/' +id);
				$("#star-number-"+id).text(data.count);
				if(data.action==="favourite"){
					$("#star-color-"+id).addClass("text-warning");
				}
				else{
					$("#star-color-"+id).removeClass("text-warning");
				}
			},
		})
	}

</script>


{% endblock code %}
